## Preciso criar uma coluna de saldo subtraindo 'order' por 'Estoq' e ordenar pelo menor valor no arquivo CSV

Nesta linha importei o arquivo e retirando e convertendo em tabela

In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv(r'C:\Users\blc\Google Drive\Esquema - planejamento\b.csv', sep =';', encoding = 'latin')

In [2]:
df.head()

,Código da Engenharia,Faturamento Médio,Quantidade em Estoque,Ordem de Fabricação Aberto,Comprometido,Disponível,Estoque Mínimo,Balanço,Prazo Produção,Máscara,Unidade de Medida,Peso Unitário,Peso Total,Lote!Econômico,Lote de!Produção
0,3,0,0,0,0,0,300,-300,NaN,1.01.02.18,kg,1,300,0,300
1,4,0,160,0,0,160,200,-40,NaN,1.01.02.12,kg,1,40,0,300
2,5,0,192,0,60,132,0,132,NaN,1.22.40.08,kg,1,132,0,120
3,6,0,0,0,0,0,300,-300,NaN,1.01.02.01,kg,1,300,0,300
4,8,0,"742,5",0,"12,5",730,600,130,NaN,1.01.02.02,kg,1,130,0,300

Retirei as colunas que não vou utilizar

In [3]:
df.drop(['Faturamento Médio',
       'Ordem de Fabricação Aberto', 'Disponível', 'Estoque Mínimo',
       'Balanço', 'Prazo Produção', 'Máscara', 'Unidade de Medida',
       'Peso Unitário', 'Peso Total', 'Lote!Econômico', 'Lote de!Produção'], axis=1, inplace=True)

Renomei as colunas que precisarei

In [4]:
df.rename(columns={'Código da Engenharia':'Cod','Quantidade em Estoque':'Estoq',
                  'Comprometido':'Order'},inplace=True)

conferi se os nomes estão ok

In [5]:
df.columns

Index(['Cod', 'Estoq', 'Order'], dtype='object')

In [6]:
df.head()

   Cod  Estoq Order
0    3      0     0
1    4    160     0
2    5    192    60
3    6      0     0
4    8  742,5  12,5

conferi os tipos de dados

In [7]:
df.dtypes

Cod       int64
Estoq    object
Order    object
dtype: object

Tentei remover as virgulas para ver se poderia ser este o motivo para não transformar em Float

In [10]:
df.Estoq.str.replace(',','.')

0              0
1            160
2            192
3              0
4          742.5
          ...
1104         9.6
1105    3.024.00
1106           0
1107         112
1108           0
Name: Estoq, Length: 1109, dtype: object

Tentei mudar a coluna para Float

In [11]:
df['Estoq'] = df.Estoq.astype(float)

ValueError: could not convert string to float: '742,5'

Consegui encontrar uma maneira de transformar a coluna em Float mas perdi o dado para 'NaN' (ver exemplo linha 4)

In [12]:
pd.to_numeric(df.Estoq,  errors='coerce')

0         0.0
1       160.0
2       192.0
3         0.0
4         NaN
        ...
1104      NaN
1105      NaN
1106      0.0
1107    112.0
1108      0.0
Name: Estoq, Length: 1109, dtype: float64

Conferi se os dados foram alterados

In [13]:
df.dtypes

Cod       int64
Estoq    object
Order    object
dtype: object

Tentei utilizando numpy pois ví num vídeo no youtube (mas não adiantou)

In [15]:
df[['Estoq', 'Order']].to_numpy()

array([['0', '0'],
       ['160', '0'],
       ['192', '60'],
       ...,
       ['0', '0'],
       ['112', '280'],
       ['0', '0']], dtype=object)